/*   Program Sagal (Soberania Global in Spanish).

    Copyright © 2019 Ismael Belisario

    This file is part of Sagal.

    Sagal is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Sagal is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Sagal.  If not, see <https://www.gnu.org/licenses/>.*/

.Tk{
    color: #3f4749;
    background-color: #495a5e;
}
.Menu{
    color: #292927;
    background-color: #20201e;
}

.Menu:hover{
    color: #d4d4ca;
    background-color: #20201e;
}

.entry:hover{
    color: #2e2e2e;
    background-color: #f5f1f1;
}
.entry:focus{
    color: #444343;
    background-color: #ececec;
}
#sombra{
    color: #797979;
    background-color: #00e1ff;
}

.Sesion #Label{
    color: #011616;/*959999*/
    background-color: #343535;
}

.Sesion #Button{
    color: azure;
    background-color: #575757;
}

.Sesion #Button::selection{
    color: #242424;
    background-color: #878b8b;
}

.Sesion #Button:hover{
    color: #2c2c2c;
    background-color: #b3b3b3;
}

.Sesion #Button:focus{
    color: #5a5858;
    background-color: #d3d3d3;
}